name: Conditional Workflow for New Files
on:
 schedule:
    - cron: '*/5 * * * *'  # Schedule to run every 5 minutes


jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-20.04]
        version: ['3.8', '3.9']

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.version }}

    - name: Install Dependencies
      run: |
        pip install flask
      working-directory: . 

    - name: Run Application
      run: |
        python app.py &
      working-directory: .

    - name: Wait for Application
      run: |
        sleep 5 
      working-directory: .  

    - name: Run Tests
      run: |
        python -m unittest test_app.py
      working-directory: . 
   
